<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Welcome To FotoForensics</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="../static/homepage.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Sacramento&display=swap" rel="stylesheet">
    
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <!-- <a class="navbar-brand" href="{{ url_for('index') }}">
            <span>
              FotoForensics
            </span>
          </a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about_us') }}">About</a>
                </li>            
              </ul>
            </div>
          </div> -->
        </nav>
      </div>
    </header>
    
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="detail_box">
              <img src="{{url_for('static', filename='images/FotoForensics_trans.png')}}" class="logo" alt="Logo">
              <h1>
                FotoForensics
              </h1>
              <p>
                Your solution to analyze and store authentic images.
              </p>
              <div class="btn-box">
                <a href="{{ url_for('login') }}" class="btn-1">
                Login
                </a>
                <a href="{{ url_for('signup') }}" class="btn-2">
                  Sign-Up
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>       
    </section>
  </div>
  <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap.js"></script>
  <script type="text/javascript" src="../static/custom.js"></script>

</body>

</html>